* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 0.8rem;
  }

ul {
  list-style: none;
}
  
img {
width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.image-list-container {
  overflow: auto;
  width: 25%;
}

.enlarge-image-container {
  width: 75%;
}

.image {
  margin: auto;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.image:hover {
    opacity: 0.7;
}

.enlarge-image {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 576px;
  overflow: hidden; 
  position: fixed;
  margin-left: 1rem;  
}

.image-content {
  width: 66%;
  height: 66%;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}

.enlarge-image #description{
    padding: 10px 0;
  }

  /* Media Queries */

@media(max-width: 700px) {
  .image {
    height: 50%;
    max-width: 100px;
    height: 100px;
  }

  .enlarge-image-container {
    margin-left: 1rem;
  }
}
  

